<launch>
	<node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager"
		args="manager" />

	<group ns="mobile_base">
		<include file="$(find gki_zerg_bringup)/launch/zerg_motor_controller.launch" />
		<include file="$(find gki_odometry)/launch/odometry.launch" />
		<include
			file="$(find gki_zerg_bringup)/launch/includes/_velocity_smoother.launch" />
	
		<node pkg="nodelet" type="nodelet" name="cmd_vel_mux"
			args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
			<param name="yaml_cfg_file" value="$(find gki_zerg_bringup)/config/mux.yaml" />
		</node>
	</group>

	<include file="$(find gki_zerg_bringup)/launch/xsens_imu.launch" />

	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<remap from="odom" to="mobile_base/odom" />
		<remap from="robot_pose_ekf/odom" to="odom_combined" />
		<param name="freq" value="10.0" />
		<param name="sensor_timeout" value="1.0" />
		<param name="odom_used" value="true" />
		<param name="imu_used" value="true" />
		<param name="vo_used" value="false" />
		<param name="output_frame" value="odom" />
	</node>
</launch>
