<launch>
	<node pkg="gki_odometry" type="odometry_node" name="odometry" respawn="true">
		<param name="base_frame" value="base_link"/>
		<param name="odom_frame" value="odom"/>
		<param name="x_stddev" value="0.002"/>
		<param name="y_stddev" value="0.002"/>
		<param name="rotation_stddev" value="0.017"/>
		<param name="cov_xy" value="0.0"/>
		<param name="cov_xrotation" value="0.0"/>
		<param name="cov_yrotation" value="0.0"/>
		<remap from="velocity" to="sensors/wheelspeed"/>
	</node>
</launch>
