<launch>
	<node pkg="gki_odometry" type="odometry_node" name="odometry" respawn="true">
		<param name="base_frame" value="base_footprint"/>
		<param name="odom_frame" value="odom"/>
		<param name="x_stddev" value="0.002"/>
		<param name="y_stddev" value="0.002"/>
		<param name="theta_stddev" value="0.017"/>
		<param name="xy_cov" value="0.0"/>
		<param name="xtheta_cov" value="0.0"/>
		<param name="ytheta_cov" value="0.0"/>

		<remap from="velocity" to="sensors/wheelspeed"/>
		<remap from="imu" to="imu/data"/>
	</node>
</launch>
